<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HyperNews</title>
    </head>
    <body>
        <nav>
            <form action="/news/" method="get">
                <input type="text" id="search" name="q" placeholder="Search">
            </form>
        </nav>
        <h2>Hyper news</h2>
        {% for articles in articles_dict %}
            <h4>{{ articles.created }}</h4>
            <ul>
            {% for article in articles.news %}
            <li><a href="/news/{{ article.link }}/">{{ article.title }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
        <a href="/news/create/">Create</a>
    </body>
</html>
